<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net45" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="NetOffice.Core" version="1.7.4.11" targetFramework="net45" />
  <package id="NetOffice.Word" version="1.7.4.11" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Oracle.ManagedDataAccess" version="19.7.0" targetFramework="net45" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Net.Http" version="2.0.20126.16343" targetFramework="net461" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client.Managed" version="1.0.22" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Text.Encodings.Web" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Text.Json" version="5.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
</packages>